.public-container{
    display: grid;
    grid-template-rows: 8% 8% 74% 10%;
    background-color: rgb(255, 220, 220);
}

.public-container .header{
    color: rgb(148, 2, 2);
    background-color: rgb(255, 170, 170);
}

.public-container .group_controls{    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;

    box-sizing: border-box;
    border-top: 1px solid rgb(173, 173, 173);
    padding: 5px 0;
}